@charset "ISO-8859-1";
.body-container{
	width:100%;
	margin-top:20px;
	display:flex;
	flex-direction:column;
	justify-content:center;	
	align-items:center;
	
}
.signup-header{
	color:green;
}


.form-field{
	width:40%;
	display:flex;
	flex-direction:column;
	margin-bottom:10px;
	text-align:left;
	justify-content:flex-start;	
}
.validno{
	display:block;
	color:red;
	border:1px solid red;
}
.valid{
	display:none;
}
.required
{
    color: red;
}
 body{
	background-color:#dddddd !important;
	/* background-color:#a6b1e1 !important;
	 */
} 

/* body {
  font-weight: 400;
  font-family: sans-serif;
  background: #12c2e9;  fallback for old browsers
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
} */